#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  color: var(--white);
  padding-top: 100px;
  width: 100dvw;
  min-height: 100dvh;
  position: relative;
}

#skills article {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  text-align: center;
  overflow: hidden;
}

#skills article figure > * {

  transition: all 0.2s linear;
}
#skills article figure img {
  height: 60px;
  width: 60px;
  cursor: pointer;
  filter: grayscale(100%);
}

#skills article figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #50505049;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  padding: 20px;
  gap: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}

#skills > h2{
  text-wrap: nowrap;
  font-size: 37pt;
}

#skills article figure:hover >  * {
  transform: translateY(-15px);
  filter: grayscale(0%);
}
@media screen and (max-width : 1024px) and (min-width : 721px){
#skills article {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}



@media screen and (max-width : 720px){
  #skills {
    gap: 20px;
  }
#skills article {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#skills > h2{
  text-wrap: nowrap;
  font-size: 20pt;
}
#skills article figure {
  padding: 12px;
  gap: 10px;
}
#skills {
  padding: 10px;
}
#skills > h1{
  text-wrap: nowrap;
  font-size: 2pt;
}

#skills article figure img {
  height: 45px;
  width: 45px;
}
}

