#contact{
    width: 100dvw;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--white);
    padding: 40px;
    text-wrap: nowrap;
}


#contact  article{
    margin-top: 30px;
    background: #ffffff00;
    border-radius: 10px;
    backdrop-filter: blur(11px);
    border: 1px solid #ffffff1f;
    display: flex;
    gap: 30px;
    color: var(--white);
    padding : 40px;
    justify-content: space-between;
    position: relative;
    width: 80%;
}

#contact  > aside{
    display: flex;
    gap: 40px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

#contact   > aside span{
    display: flex;
    gap: 40px;

}

#contact  > aside span aside{
    display: flex;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}

#contact  > aside div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #1473e0, #478cdb ,  #278afb, #064ec2);
}
#contact i {
    width: 100%;
    display: flex;
    font-size: 12px;
    gap: 4px;
    position: absolute;
    top:20px;
    left: 10px;
}
#contact i svg:first-of-type {
  color: #fb6066;
}
#contact  i svg:nth-of-type(2) {
  color: #e6ae00;
}
#contact i svg {
  color: #519548;
}

#contact  article  h1{
    font-size: 30pt;
    color: transparent;
    background-image: linear-gradient(80deg, #1473e0, #478cdb ,  #278afb, #064ec2);
    background-clip: text;
}
#contact  article >* {
    text-align: center;
}
#contact  article form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:10px;
    width: 100%;
}

#contact  article form input , #contact  article form textarea{
    height: 50px;
    padding-left: 5px;
    background-color: transparent;
    border: 1px solid #ffffff1f;
    font-size: 12pt;
    border-radius: 4px;
    resize: none;
    color: var(--white);
    outline :none;
}
#contact  article form textarea{
    height: 200px;
    padding: 10px;
}
#contact  article form > div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 6px;
}

#contact button{
  background-image: linear-gradient(80deg, #1473e0, #123bcd);
  color: var(--white);
  border-radius: 20px;
  width: 250px;
  place-self: center;
}


@media screen and (max-width : 1024px) and (min-width : 721px){
 #contact  article{
    flex-direction: column;
    width: 100%;
}
#contact  article form{
    width: 100%;
}
#contact  article > aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
}
}


@media screen and (max-width : 720px){

#contact{
    color: var(--white);
    padding: 20px;
    text-wrap: nowrap;
}


#contact   > aside span{
    display: flex;
    gap: 10px;
    flex-direction: column;

}
#contact  article form > div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

 #contact  article{
    margin-top: 30px;
    gap: 20px;
    color: var(--white);
    padding : 40px 10px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    flex-direction: column;
}
#contact  article form{
    width: 100%;
    padding: 0;
}


#contact  article  h1{
    font-size: 20pt;
    margin-top: 40px;
}

#contact  > aside{
    align-items: start;
    justify-content: start;
    gap: 10px;
}

#contact  > aside span aside{
    flex-direction: row;
}

}